# SvelteKit build artifacts
.svelte-kit/
build/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor specific
.vscode/
.idea/

# Temporary files
/temp/

# Gemini Log
gemini.md

DEV_NOTES.md
package-lock.json
